<style>
  .tmpCheckbox {
    margin-left: 5px;
  }

  .tmpCheckbox label {
    display: inline-block;
    background-color: #ffffff;
    border: 2px solid #000000;
    color: #2f2f2f;
    border-radius: 5px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.2s;
    padding: 4px 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
  }

  .tmpCheckbox input[type="checkbox"]:checked+label {
    background-color: #FFFFFF;
    color: #2f2f2f;
    transition: all 0.2s;
  }

  .tmpCheckbox label:hover {
    background-color: #545454;
    color: #b1b1b1;
  }

  .tmpCheckbox input[type="checkbox"]:checked+label:hover {
    background-color: #545454;
    color: #b1b1b1;
    transition: all 0.2s;
  }

  .tmpCheckbox input[type="checkbox"] {
    display: absolute;
  }

  .tmpCheckbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
  }

</style>

<script>
  jQuery.fn.textNodes = function () {
    return this.contents().filter(function () {
      return this.nodeType === Node.TEXT_NODE && this.nodeValue.trim() !== "";
    });
  };

  function stringToArray(str) {
    return str.trim().split(" ");
  }

  function capitalize(s) {
    return s && s[0].toUpperCase() + s.slice(1);
  }

  function getFirstVowelIndex(word) {
    return word.search(/[aeiouAEIOU]/);
  }

  function translateToPigLatin(word) {
    if (!!!word || word.trim() === "") {
      return "";
    }

    var firstVowelIndex = getFirstVowelIndex(word);
    var isCapital = word[0] === word[0].toUpperCase();
    word = word.toLowerCase();
    var result = "";

    if (firstVowelIndex === 0) {
      result = word + "yay";
    } else {
      result =
        word.substring(firstVowelIndex) +
        word.substring(0, firstVowelIndex) +
        "ay";
    }

    if (isCapital) {
      result = capitalize(result);
    }

    return result;
  }

  function translateDefault(word) {
    return word;
  }

  function getLanguageLocalStorage() {
    var language = localStorage.getItem("language");

    if (language) {
      return language;
    } else {
      return "pigLatin";
    }
  }

  /**
   * language: default/pigLatin
   */
  function setLanguageLocalStorage(language) {
    localStorage.setItem('language', language)
  }

  function changeIsDisablePigLatin(isDisablePigLatin) {
    if (isDisablePigLatin) {
      $("#disablePigLatin").prop("checked", true);
      $("#disablePigLatinLabel").text("Enable PigLatin");
    } else {
      $("#disablePigLatin").prop("checked", false);
      $("#disablePigLatinLabel").text("Disable PigLatin");
    }
  }

  function addLastNav() {
    var htmlStr = `
      <li>
        <div class="tmpCheckbox">
          <input type="checkbox" id="disablePigLatin" value="isDisablePigLatin" ignoreTranslate="true">
          <label id="disablePigLatinLabel" for="disablePigLatin" ignoreTranslate="true">...</label>
        </div>
      </li>
    `;

    $(".aui-header-primary .aui-nav").append(htmlStr);

    $("#disablePigLatin").change(function (event) {
      var checkbox = event.target;
      if (checkbox.checked) {
        setLanguageLocalStorage("default");
      } else {
        setLanguageLocalStorage("pigLatin");
      }
      location.reload();
    });
  }

  function main() {
    var tagNamesIgnore = ['STYLE', 'SCRIPT'];

    var language = getLanguageLocalStorage();

    if (language === "default") {
      changeIsDisablePigLatin(true);
      return;
    }

    var translateFunc = null;

    switch (language) {
      case "pigLatin":
        translateFunc = translateToPigLatin;
        changeIsDisablePigLatin(false);
        break;
      default:
        translateFunc = translateDefault;
    }

    var elements = $("body").find("*");
    for (var index = 0; index < elements.length; index++) {
      var element = elements[index];
      var jElement = $(element);

      var ignoreTranslate = jElement.attr('ignoreTranslate');
      if (tagNamesIgnore.includes(element.tagName) || ignoreTranslate === 'true') {
        continue;
      }

      // Check element is translated
      var language = jElement.attr("language");

      if (language && language === "PigLatin") {
        continue;
      } else {
        jElement.attr("language", "PigLatin");
      }

      jElement.textNodes().replaceWith(function () {
        var text = $(this).text();
        var result = "";

        while (text.length) {
          var indexAlphabet = text.search(/[a-zA-Z]/);
          var indexNotAlphabet = text.search(/[^a-zA-Z]/);

          if (indexAlphabet === -1) {
            // text is NotAlphabet
            result += text;
            text = "";
          } else if (indexNotAlphabet === -1) {
            // text is Alphabet
            result += translateToPigLatin(text);
            text = "";
          } else if (indexAlphabet > indexNotAlphabet) {
            // next part is NotAlphabet
            var nextPart = text.substring(indexNotAlphabet, indexAlphabet);
            result += nextPart;
            text = text.substring(indexAlphabet);
          } else {
            // next part is Alphabet
            var nextPart = text.substring(indexAlphabet, indexNotAlphabet);
            result += translateToPigLatin(nextPart);
            text = text.substring(indexNotAlphabet);
          }
        }

        return result;
      });
    }
  }

  $(document).ready(function () {
    addLastNav();
  });

  $(document).ajaxStop(function () {
    main();
  });

</script>
